/*---The Modal (background)---*/

.modal {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
  overflow-y: auto;
}


/*---Modal Content/Box---*/

.modal-content {
  background-color: #f3f3f3;
  margin: 10% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  overflow-y: auto;
}


/*---Modal Confirm Button---*/

.confirm {
  color: #72B01D;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}


/*---Modal Go Back Button---*/

.goback {
  color: #706c61;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}


/*---End of Modal Code---*/


/*---start popup styling---*/

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

.cnt223 a {
  text-decoration: none;
}

.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}

.cnt223 {
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
}

.cnt223 p {
  clear: both;
  color: #555555;
  text-align: justify;
  font-size: 20px;
  font-family: sans-serif;
}

.cnt223 p a {
  color: #d91900;
  font-weight: bold;
}

.cnt223 .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}

.cnt223 .x:hover {
  cursor: pointer;
}


/*---end popup styling---*/


/*---start navigation bar---*/

.navbar {
  background: #f0ede4;
}

h2 {
  color: #00B2CA;
}

.nav-link,
.navbar-brand {
  color: #72B01D;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #00B2CA;
}

.navbar-collapse {
  justify-content: flex-end;
}


/*---end navigation bar---*/


/*--spotify iframe styling---*/

.spotify {
  position: fixed;
  overflow: hidden;
  left: 75%;
  top: 15%;
  bottom: 45%;
}


/*---start table alignment ---*/

.floatTopLeft,
.floatTopRight,
.floatBottomLeft,
.floatBottomRight,
.floatTitle {
  color: white;

}



body {
  background-color: #706C61;
}


td {
  color: white;


}

th {  
  padding: 15px 0px;
  color: white;
  font-weight: bold;
  background: #00B2CA;
}

input {
  width: 100%;
  height: 100%;
  white-space: normal text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

input:hover {
  background-color: #72B01D;
}
/*---end table alignment---*/


/*---start footer nav bar---*/

.page-footer {
  background-color: #222;
  color: #F8F4E3;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
}


/*---end footer nav bar---*/


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #f0ede4;
  background-color: #f0ede4;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 20%;
  transition: 0.3s;
  padding: 15px 0px;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #00B2CA;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #00B2CA;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 10px solid #f0ede4;
  border-top: none;
}