body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
  background:#6ab446;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}


.floatTopLeft {float: left; }
.floatTopRight {float: left; }
.northWestContainer { overflow: hidden; }
.northEastContainer { overflow: hidden; }
.floatBottomLeft { float: left; }
.floatBottomRight {float: left; }
.southWestContainer { overflow: hidden; }
.southEastContainer { overflow: hidden; }
.floatTitle {float: left; }
.titleContainer { overflow: hidden; }

body {background-image: url("nosignal.png"); }

.dwnld{background-color: coral;   width:70%;     margin-left:15%;     margin-right:15%; text-align: center;}

h2 {
    width:50%;     margin-left:47%;     margin-right:47%;
}

table, th, td, tr {
width: 5px;
height: 5px;
background: #000000; 
color: white; 
font-weight: bold; 
font-family: Trebuchet MS;
}


input {
  width: 100%;
  height: 100%;
  white-space: normal
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Trebuchet MS;
}

.canvas__container {
  height: 100%;
  position: relative;
  width: 100%;
}
.canvas__canvas {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.canvas__mirror {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; 
}
/*table { 
  width: 100%; 
  border: 1px solid #ccc; 

  border-collapse: collapse; 
}

th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}*/